.langMenu {
  padding: 10px;
  display: flex;
  align-items: center;
}

.langSelector {
  padding: 5px;
  margin-left: 5px;

  min-width: 10ch;
  max-width: 20ch;

  color: white;

  border: 1px solid rgb(68, 68, 68);
  border-radius: 0.25em;

  cursor: pointer;
  background-color: rgb(33, 33, 33);
  display: grid;
}

.langFlag {
  height: 30px;
}

.footer{
  background-color: rgb(37, 37, 37);
}