button{
  padding: 15px;
  margin: 10px;

  color: white;
  font-weight: 300;
  box-shadow: rgb(191, 191, 191) 2px 2px 5px;

  border-radius: 0.5em;
  border: none;

  background-image: linear-gradient(90deg, #8751f4, #4e77ff);
}

button:hover{
  background-image: linear-gradient(90deg, #8045f6, #3e6bfe);
  box-shadow: rgb(136, 136, 136) 2px 2px 5px;
  transition: 50ms ease-in-out;
}