.terms{
  min-width: 680px;
}

.header{
  width: 100%;
  justify-content: space-between;
}

.info{
  min-width: 680px;
}

.break{
  min-width: 680px;
  border: solid 1px rgb(70, 70, 70);
}

.info input, textarea{
  width: calc(100% - 30px)
}