.writepage{
  padding: 20px;
}

.writepage .write{
  background-color: #252525;
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}

.writepage input{
  background-color: #323232;
  margin: 10px;
  padding: 10px;
}

.writepage .stats{
  color: gray;
}

.inspecting{
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .writepage .mobile{
    display: inline;
  }

  .writepage .desktop{
    display: none;
  }

  .writepage .write, .writepage .stats{
    width: 300px;
  }

  .flashcards .progressBar{
    width: 300px;
  }
}